# Object file
*.o

# Ada Library Information
*.ali

*vendor
*config/connection.php
*phinx.php

# Mengabaikan semua file dalam folder
assets/images/dana_pemasukkan/*
assets/images/dana_pengeluaran/*
# Mengecualikan file dari pengabaian
!assets/images/dana_pemasukkan/transaction-receip.png
!assets/images/dana_pengeluaran/transaction-receip.png
.qodo
