Options -Indexes
RewriteEngine On

# Redirect semua permintaan kecuali file/folder yang ada

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.\*)$ index.php [QSA,L]
